<head>
<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
<div id="jumbo" class="p-5 mb-4 bg-light ">
  <div class="container-fluid py-5 text-center ">
    <h1 class="display-5 fw-bold">Queen</h1>
    <p>Queen by Hannel Suarez</p>
  </div>
</div>
</head>