{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block queen_info_title %}{{ name }}{% endblock %}

{% block queen_info_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/{{ image }}" alt="" class="img-fluid mb-4">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h1>{{ name }}</h1>
        {{ description | safe }}
      </div>
    </div>
  </article>
{% endblock %}