{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}A list of Queen albums{% endblock %}

{% block content %}
<article class="container">
  <h1>Queen Discography</h1>
  <p>Intro text here.</p>
  <div class="row row-cols-1 row-cols-md-2 g-4 text-center">
    {% for title in queen_info.discography %}
      <div class="col">
        <div class="card" src="../img/{{ title.image }}">
          <div class="card-body">
            <h5 class="card-title">{{ title.title }}</h5>
            <p class="card-text">{{ title.year }}</p>
            <img src="../img/{{ title.image }}" class="img-fluid title-image mb-3">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
{% endblock %}