{% extends '_templates/base.njk' %}

{% block page_title %}Data{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1>Queen: Reigning Supreme in Rock History</h1>
      <p>Queen, the legendary British rock band formed in 1970, is known for their unforgettable songs and captivating performances. Led by the iconic Freddie Mercury, they created timeless hits like "Bohemian Rhapsody" and "We Will Rock You," earning a place in music history. Explore their journey, music, and legacy on our website dedicated to celebrating the magic of Queen.</p>
      {% for member in queen_info.members %}
        <div class="row align-items-center">
          <div class="col-sm-2">
            <img src="../img/{{ member.image }}" alt="{{ member.name }}" class="img-fluid member-image mb-2">
          </div>
          <div class="col-sm-10">
            <h2><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h2>
            <h3>{{ member.instruments }}</h3>
            <hr>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}