{% extends '_templates/base.njk' %}

{% block page_title %}Members{% endblock %}

{% block page_description %}A list of the members of the band Queen{% endblock %}

{% block content %}
<article class="container">
  <h1>Queen Members</h1>
  <p>Intro text here.</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for member in queen_info.members %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text">{{ member.instruments }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
{% endblock %}